.select {
  position: relative;

  width: 100px;
  margin: auto;
  &:hover {
    cursor: pointer;
  }
  & input {
    position: absolute;
    left: -9999px;
  }
}

.toggle + label {
  font-weight: normal;

  position: relative;
  z-index: 2;

  display: block;

  width: 100px;

  transition: all 200ms linear;
  text-align: center;
  text-indent: 5px;
  &:hover {
    cursor: pointer;
  }
  i {
    display: block;

    margin: 5px auto 0;

    transition: all 200ms linear;
    -webkit-transform: rotate(0deg);

    @include sprite($s-arrow-down);
  }
}

.toggle:checked + label i {
  z-index: 5;

  margin-top: 35px;

  -webkit-transform: rotate(180deg);
}

.select ul {
  position: relative;
  z-index: 50;

  overflow: hidden;

  max-height: 0;
  margin: 0;

  list-style: none;

  transition: all 700ms linear;
  text-align: center;
}

.toggle:checked ~ ul {
  max-height: 1000px;
  margin-top: -50%;
}

.select-option label {
  font-weight: normal;

  display: block;

  padding: 5px;

  cursor: pointer;
  transition: all 200ms linear;

  color: $white;
  background: $base-blue;
  &:hover {
    color: $white;
    background: $base-gray;
  }
  &:active {
    outline: none;
    background: lighten($base-blue, 5%);
  }
}
