.download-demo-bg {
  height: 220px;
  margin-top: $margin-default;
  background: $demo-gray;
}
.download-demo {
  display: table;
  width: 100%;
  margin: $margin-default 0 0 0;
  background: $demo-gray;
  &-content {
    position: relative;
    display: table-cell;
    margin: auto;
    text-align: center;
    vertical-align: middle;
  }
  &-caption {
    margin-bottom: 45px;
    text-transform: uppercase;
  }
}