body {
  font: $base-regular-font;

  color: $base-gray;
}

.container {
  max-width: $container-width;
  margin: auto;
  padding: $container-padding;
  padding-bottom: 0;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;

  color: $base-gray;
  &:hover,&:focus {
    text-decoration: none;

    color: $base-blue;
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}
