@font-face {
  font-family: 'AvantGardeGothic';
  font-weight: normal;
  font-style: normal;

  src: url('../../fonts/AvantGardeGothicC-regular.otf') format('opentype');
}
@font-face {
  font-family: 'AvantGardeGothic';
  font-weight:  bold;
  font-style: normal;

  src: url('../../fonts/AvantGardeGothicC-bold.otf') format('opentype');
}
@font-face {
  font-family: 'AvantGardeGothic';
  font-weight: normal;
  font-style: italic;

  src: url('../../fonts/AvantGardeGothicC-italic.otf') format('opentype');
}
@font-face {
  font-family: 'AvantGardeGothic';
  font-weight: bold;
  font-style: italic;

  src: url('../../fonts/AvantGardeGothicC-bold-italic.otf') format('opentype');
}