/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-aerial-name: 's-aerial';
$s-aerial-x: 0px;
$s-aerial-y: 394px;
$s-aerial-offset-x: 0px;
$s-aerial-offset-y: -394px;
$s-aerial-width: 104px;
$s-aerial-height: 131px;
$s-aerial-total-width: 690px;
$s-aerial-total-height: 622px;
$s-aerial-image: 'images/sprite.png';
$s-aerial: (0px, 394px, 0px, -394px, 104px, 131px, 690px, 622px, 'images/sprite.png', 's-aerial', );
$s-arrow-active-name: 's-arrow-active';
$s-arrow-active-x: 644px;
$s-arrow-active-y: 314px;
$s-arrow-active-offset-x: -644px;
$s-arrow-active-offset-y: -314px;
$s-arrow-active-width: 44px;
$s-arrow-active-height: 44px;
$s-arrow-active-total-width: 690px;
$s-arrow-active-total-height: 622px;
$s-arrow-active-image: 'images/sprite.png';
$s-arrow-active: (644px, 314px, -644px, -314px, 44px, 44px, 690px, 622px, 'images/sprite.png', 's-arrow-active', );
$s-arrow-circle-active-name: 's-arrow-circle-active';
$s-arrow-circle-active-x: 644px;
$s-arrow-circle-active-y: 449px;
$s-arrow-circle-active-offset-x: -644px;
$s-arrow-circle-active-offset-y: -449px;
$s-arrow-circle-active-width: 44px;
$s-arrow-circle-active-height: 44px;
$s-arrow-circle-active-total-width: 690px;
$s-arrow-circle-active-total-height: 622px;
$s-arrow-circle-active-image: 'images/sprite.png';
$s-arrow-circle-active: (644px, 449px, -644px, -449px, 44px, 44px, 690px, 622px, 'images/sprite.png', 's-arrow-circle-active', );
$s-arrow-circle-hover-name: 's-arrow-circle-hover';
$s-arrow-circle-hover-x: 644px;
$s-arrow-circle-hover-y: 404px;
$s-arrow-circle-hover-offset-x: -644px;
$s-arrow-circle-hover-offset-y: -404px;
$s-arrow-circle-hover-width: 44px;
$s-arrow-circle-hover-height: 44px;
$s-arrow-circle-hover-total-width: 690px;
$s-arrow-circle-hover-total-height: 622px;
$s-arrow-circle-hover-image: 'images/sprite.png';
$s-arrow-circle-hover: (644px, 404px, -644px, -404px, 44px, 44px, 690px, 622px, 'images/sprite.png', 's-arrow-circle-hover', );
$s-arrow-circle-name: 's-arrow-circle';
$s-arrow-circle-x: 644px;
$s-arrow-circle-y: 359px;
$s-arrow-circle-offset-x: -644px;
$s-arrow-circle-offset-y: -359px;
$s-arrow-circle-width: 44px;
$s-arrow-circle-height: 44px;
$s-arrow-circle-total-width: 690px;
$s-arrow-circle-total-height: 622px;
$s-arrow-circle-image: 'images/sprite.png';
$s-arrow-circle: (644px, 359px, -644px, -359px, 44px, 44px, 690px, 622px, 'images/sprite.png', 's-arrow-circle', );
$s-arrow-down-name: 's-arrow-down';
$s-arrow-down-x: 573px;
$s-arrow-down-y: 494px;
$s-arrow-down-offset-x: -573px;
$s-arrow-down-offset-y: -494px;
$s-arrow-down-width: 22px;
$s-arrow-down-height: 12px;
$s-arrow-down-total-width: 690px;
$s-arrow-down-total-height: 622px;
$s-arrow-down-image: 'images/sprite.png';
$s-arrow-down: (573px, 494px, -573px, -494px, 22px, 12px, 690px, 622px, 'images/sprite.png', 's-arrow-down', );
$s-arrow-hover-name: 's-arrow-hover';
$s-arrow-hover-x: 511px;
$s-arrow-hover-y: 336px;
$s-arrow-hover-offset-x: -511px;
$s-arrow-hover-offset-y: -336px;
$s-arrow-hover-width: 44px;
$s-arrow-hover-height: 44px;
$s-arrow-hover-total-width: 690px;
$s-arrow-hover-total-height: 622px;
$s-arrow-hover-image: 'images/sprite.png';
$s-arrow-hover: (511px, 336px, -511px, -336px, 44px, 44px, 690px, 622px, 'images/sprite.png', 's-arrow-hover', );
$s-arrow-right-circle-name: 's-arrow-right-circle';
$s-arrow-right-circle-x: 348px;
$s-arrow-right-circle-y: 410px;
$s-arrow-right-circle-offset-x: -348px;
$s-arrow-right-circle-offset-y: -410px;
$s-arrow-right-circle-width: 32px;
$s-arrow-right-circle-height: 32px;
$s-arrow-right-circle-total-width: 690px;
$s-arrow-right-circle-total-height: 622px;
$s-arrow-right-circle-image: 'images/sprite.png';
$s-arrow-right-circle: (348px, 410px, -348px, -410px, 32px, 32px, 690px, 622px, 'images/sprite.png', 's-arrow-right-circle', );
$s-arrow-right-long-name: 's-arrow-right-long';
$s-arrow-right-long-x: 245px;
$s-arrow-right-long-y: 394px;
$s-arrow-right-long-offset-x: -245px;
$s-arrow-right-long-offset-y: -394px;
$s-arrow-right-long-width: 243px;
$s-arrow-right-long-height: 16px;
$s-arrow-right-long-total-width: 690px;
$s-arrow-right-long-total-height: 622px;
$s-arrow-right-long-image: 'images/sprite.png';
$s-arrow-right-long: (245px, 394px, -245px, -394px, 243px, 16px, 690px, 622px, 'images/sprite.png', 's-arrow-right-long', );
$s-arrow-name: 's-arrow';
$s-arrow-x: 205px;
$s-arrow-y: 525px;
$s-arrow-offset-x: -205px;
$s-arrow-offset-y: -525px;
$s-arrow-width: 47px;
$s-arrow-height: 47px;
$s-arrow-total-width: 690px;
$s-arrow-total-height: 622px;
$s-arrow-image: 'images/sprite.png';
$s-arrow: (205px, 525px, -205px, -525px, 47px, 47px, 690px, 622px, 'images/sprite.png', 's-arrow', );
$s-case-a-name: 's-case-a';
$s-case-a-x: 0px;
$s-case-a-y: 197px;
$s-case-a-offset-x: 0px;
$s-case-a-offset-y: -197px;
$s-case-a-width: 220px;
$s-case-a-height: 197px;
$s-case-a-total-width: 690px;
$s-case-a-total-height: 622px;
$s-case-a-image: 'images/sprite.png';
$s-case-a: (0px, 197px, 0px, -197px, 220px, 197px, 690px, 622px, 'images/sprite.png', 's-case-a', );
$s-case-b-name: 's-case-b';
$s-case-b-x: 220px;
$s-case-b-y: 0px;
$s-case-b-offset-x: -220px;
$s-case-b-offset-y: 0px;
$s-case-b-width: 220px;
$s-case-b-height: 197px;
$s-case-b-total-width: 690px;
$s-case-b-total-height: 622px;
$s-case-b-image: 'images/sprite.png';
$s-case-b: (220px, 0px, -220px, 0px, 220px, 197px, 690px, 622px, 'images/sprite.png', 's-case-b', );
$s-case-c-name: 's-case-c';
$s-case-c-x: 0px;
$s-case-c-y: 0px;
$s-case-c-offset-x: 0px;
$s-case-c-offset-y: 0px;
$s-case-c-width: 220px;
$s-case-c-height: 197px;
$s-case-c-total-width: 690px;
$s-case-c-total-height: 622px;
$s-case-c-image: 'images/sprite.png';
$s-case-c: (0px, 0px, 0px, 0px, 220px, 197px, 690px, 622px, 'images/sprite.png', 's-case-c', );
$s-case-d-name: 's-case-d';
$s-case-d-x: 220px;
$s-case-d-y: 197px;
$s-case-d-offset-x: -220px;
$s-case-d-offset-y: -197px;
$s-case-d-width: 219px;
$s-case-d-height: 197px;
$s-case-d-total-width: 690px;
$s-case-d-total-height: 622px;
$s-case-d-image: 'images/sprite.png';
$s-case-d: (220px, 197px, -220px, -197px, 219px, 197px, 690px, 622px, 'images/sprite.png', 's-case-d', );
$s-close-active-name: 's-close-active';
$s-close-active-x: 157px;
$s-close-active-y: 525px;
$s-close-active-offset-x: -157px;
$s-close-active-offset-y: -525px;
$s-close-active-width: 48px;
$s-close-active-height: 48px;
$s-close-active-total-width: 690px;
$s-close-active-total-height: 622px;
$s-close-active-image: 'images/sprite.png';
$s-close-active: (157px, 525px, -157px, -525px, 48px, 48px, 690px, 622px, 'images/sprite.png', 's-close-active', );
$s-close-default-name: 's-close-default';
$s-close-default-x: 61px;
$s-close-default-y: 525px;
$s-close-default-offset-x: -61px;
$s-close-default-offset-y: -525px;
$s-close-default-width: 48px;
$s-close-default-height: 48px;
$s-close-default-total-width: 690px;
$s-close-default-total-height: 622px;
$s-close-default-image: 'images/sprite.png';
$s-close-default: (61px, 525px, -61px, -525px, 48px, 48px, 690px, 622px, 'images/sprite.png', 's-close-default', );
$s-close-hover-name: 's-close-hover';
$s-close-hover-x: 109px;
$s-close-hover-y: 525px;
$s-close-hover-offset-x: -109px;
$s-close-hover-offset-y: -525px;
$s-close-hover-width: 48px;
$s-close-hover-height: 48px;
$s-close-hover-total-width: 690px;
$s-close-hover-total-height: 622px;
$s-close-hover-image: 'images/sprite.png';
$s-close-hover: (109px, 525px, -109px, -525px, 48px, 48px, 690px, 622px, 'images/sprite.png', 's-close-hover', );
$s-close-icon-active-name: 's-close-icon-active';
$s-close-icon-active-x: 0px;
$s-close-icon-active-y: 573px;
$s-close-icon-active-offset-x: 0px;
$s-close-icon-active-offset-y: -573px;
$s-close-icon-active-width: 49px;
$s-close-icon-active-height: 49px;
$s-close-icon-active-total-width: 690px;
$s-close-icon-active-total-height: 622px;
$s-close-icon-active-image: 'images/sprite.png';
$s-close-icon-active: (0px, 573px, 0px, -573px, 49px, 49px, 690px, 622px, 'images/sprite.png', 's-close-icon-active', );
$s-close-icon-hover-name: 's-close-icon-hover';
$s-close-icon-hover-x: 49px;
$s-close-icon-hover-y: 573px;
$s-close-icon-hover-offset-x: -49px;
$s-close-icon-hover-offset-y: -573px;
$s-close-icon-hover-width: 49px;
$s-close-icon-hover-height: 49px;
$s-close-icon-hover-total-width: 690px;
$s-close-icon-hover-total-height: 622px;
$s-close-icon-hover-image: 'images/sprite.png';
$s-close-icon-hover: (49px, 573px, -49px, -573px, 49px, 49px, 690px, 622px, 'images/sprite.png', 's-close-icon-hover', );
$s-close-icon-name: 's-close-icon';
$s-close-icon-x: 98px;
$s-close-icon-y: 573px;
$s-close-icon-offset-x: -98px;
$s-close-icon-offset-y: -573px;
$s-close-icon-width: 49px;
$s-close-icon-height: 49px;
$s-close-icon-total-width: 690px;
$s-close-icon-total-height: 622px;
$s-close-icon-image: 'images/sprite.png';
$s-close-icon: (98px, 573px, -98px, -573px, 49px, 49px, 690px, 622px, 'images/sprite.png', 's-close-icon', );
$s-computer-name: 's-computer';
$s-computer-x: 440px;
$s-computer-y: 0px;
$s-computer-offset-x: -440px;
$s-computer-offset-y: 0px;
$s-computer-width: 133px;
$s-computer-height: 114px;
$s-computer-total-width: 690px;
$s-computer-total-height: 622px;
$s-computer-image: 'images/sprite.png';
$s-computer: (440px, 0px, -440px, 0px, 133px, 114px, 690px, 622px, 'images/sprite.png', 's-computer', );
$s-footer-logo-name: 's-footer-logo';
$s-footer-logo-x: 0px;
$s-footer-logo-y: 525px;
$s-footer-logo-offset-x: 0px;
$s-footer-logo-offset-y: -525px;
$s-footer-logo-width: 61px;
$s-footer-logo-height: 48px;
$s-footer-logo-total-width: 690px;
$s-footer-logo-total-height: 622px;
$s-footer-logo-image: 'images/sprite.png';
$s-footer-logo: (0px, 525px, 0px, -525px, 61px, 48px, 690px, 622px, 'images/sprite.png', 's-footer-logo', );
$s-laptop-name: 's-laptop';
$s-laptop-x: 104px;
$s-laptop-y: 394px;
$s-laptop-offset-x: -104px;
$s-laptop-offset-y: -394px;
$s-laptop-width: 141px;
$s-laptop-height: 90px;
$s-laptop-total-width: 690px;
$s-laptop-total-height: 622px;
$s-laptop-image: 'images/sprite.png';
$s-laptop: (104px, 394px, -104px, -394px, 141px, 90px, 690px, 622px, 'images/sprite.png', 's-laptop', );
$s-logo-name: 's-logo';
$s-logo-x: 573px;
$s-logo-y: 0px;
$s-logo-offset-x: -573px;
$s-logo-offset-y: 0px;
$s-logo-width: 117px;
$s-logo-height: 106px;
$s-logo-total-width: 690px;
$s-logo-total-height: 622px;
$s-logo-image: 'images/sprite.png';
$s-logo: (573px, 0px, -573px, 0px, 117px, 106px, 690px, 622px, 'images/sprite.png', 's-logo', );
$s-menu-active-name: 's-menu-active';
$s-menu-active-x: 573px;
$s-menu-active-y: 314px;
$s-menu-active-offset-x: -573px;
$s-menu-active-offset-y: -314px;
$s-menu-active-width: 71px;
$s-menu-active-height: 45px;
$s-menu-active-total-width: 690px;
$s-menu-active-total-height: 622px;
$s-menu-active-image: 'images/sprite.png';
$s-menu-active: (573px, 314px, -573px, -314px, 71px, 45px, 690px, 622px, 'images/sprite.png', 's-menu-active', );
$s-menu-default-name: 's-menu-default';
$s-menu-default-x: 245px;
$s-menu-default-y: 410px;
$s-menu-default-offset-x: -245px;
$s-menu-default-offset-y: -410px;
$s-menu-default-width: 71px;
$s-menu-default-height: 45px;
$s-menu-default-total-width: 690px;
$s-menu-default-total-height: 622px;
$s-menu-default-image: 'images/sprite.png';
$s-menu-default: (245px, 410px, -245px, -410px, 71px, 45px, 690px, 622px, 'images/sprite.png', 's-menu-default', );
$s-menu-hover-name: 's-menu-hover';
$s-menu-hover-x: 440px;
$s-menu-hover-y: 336px;
$s-menu-hover-offset-x: -440px;
$s-menu-hover-offset-y: -336px;
$s-menu-hover-width: 71px;
$s-menu-hover-height: 45px;
$s-menu-hover-total-width: 690px;
$s-menu-hover-total-height: 622px;
$s-menu-hover-image: 'images/sprite.png';
$s-menu-hover: (440px, 336px, -440px, -336px, 71px, 45px, 690px, 622px, 'images/sprite.png', 's-menu-hover', );
$s-menu-light-active-name: 's-menu-light-active';
$s-menu-light-active-x: 573px;
$s-menu-light-active-y: 449px;
$s-menu-light-active-offset-x: -573px;
$s-menu-light-active-offset-y: -449px;
$s-menu-light-active-width: 71px;
$s-menu-light-active-height: 45px;
$s-menu-light-active-total-width: 690px;
$s-menu-light-active-total-height: 622px;
$s-menu-light-active-image: 'images/sprite.png';
$s-menu-light-active: (573px, 449px, -573px, -449px, 71px, 45px, 690px, 622px, 'images/sprite.png', 's-menu-light-active', );
$s-menu-light-default-name: 's-menu-light-default';
$s-menu-light-default-x: 573px;
$s-menu-light-default-y: 404px;
$s-menu-light-default-offset-x: -573px;
$s-menu-light-default-offset-y: -404px;
$s-menu-light-default-width: 71px;
$s-menu-light-default-height: 45px;
$s-menu-light-default-total-width: 690px;
$s-menu-light-default-total-height: 622px;
$s-menu-light-default-image: 'images/sprite.png';
$s-menu-light-default: (573px, 404px, -573px, -404px, 71px, 45px, 690px, 622px, 'images/sprite.png', 's-menu-light-default', );
$s-menu-light-hover-name: 's-menu-light-hover';
$s-menu-light-hover-x: 573px;
$s-menu-light-hover-y: 359px;
$s-menu-light-hover-offset-x: -573px;
$s-menu-light-hover-offset-y: -359px;
$s-menu-light-hover-width: 71px;
$s-menu-light-hover-height: 45px;
$s-menu-light-hover-total-width: 690px;
$s-menu-light-hover-total-height: 622px;
$s-menu-light-hover-image: 'images/sprite.png';
$s-menu-light-hover: (573px, 359px, -573px, -359px, 71px, 45px, 690px, 622px, 'images/sprite.png', 's-menu-light-hover', );
$s-monitor-name: 's-monitor';
$s-monitor-x: 440px;
$s-monitor-y: 114px;
$s-monitor-offset-x: -440px;
$s-monitor-offset-y: -114px;
$s-monitor-width: 132px;
$s-monitor-height: 114px;
$s-monitor-total-width: 690px;
$s-monitor-total-height: 622px;
$s-monitor-image: 'images/sprite.png';
$s-monitor: (440px, 114px, -440px, -114px, 132px, 114px, 690px, 622px, 'images/sprite.png', 's-monitor', );
$s-pdf-name: 's-pdf';
$s-pdf-x: 380px;
$s-pdf-y: 410px;
$s-pdf-offset-x: -380px;
$s-pdf-offset-y: -410px;
$s-pdf-width: 25px;
$s-pdf-height: 32px;
$s-pdf-total-width: 690px;
$s-pdf-total-height: 622px;
$s-pdf-image: 'images/sprite.png';
$s-pdf: (380px, 410px, -380px, -410px, 25px, 32px, 690px, 622px, 'images/sprite.png', 's-pdf', );
$s-print-name: 's-print';
$s-print-x: 316px;
$s-print-y: 410px;
$s-print-offset-x: -316px;
$s-print-offset-y: -410px;
$s-print-width: 32px;
$s-print-height: 32px;
$s-print-total-width: 690px;
$s-print-total-height: 622px;
$s-print-image: 'images/sprite.png';
$s-print: (316px, 410px, -316px, -410px, 32px, 32px, 690px, 622px, 'images/sprite.png', 's-print', );
$s-satellite-dish-name: 's-satellite-dish';
$s-satellite-dish-x: 573px;
$s-satellite-dish-y: 210px;
$s-satellite-dish-offset-x: -573px;
$s-satellite-dish-offset-y: -210px;
$s-satellite-dish-width: 104px;
$s-satellite-dish-height: 104px;
$s-satellite-dish-total-width: 690px;
$s-satellite-dish-total-height: 622px;
$s-satellite-dish-image: 'images/sprite.png';
$s-satellite-dish: (573px, 210px, -573px, -210px, 104px, 104px, 690px, 622px, 'images/sprite.png', 's-satellite-dish', );
$s-satellite-name: 's-satellite';
$s-satellite-x: 573px;
$s-satellite-y: 106px;
$s-satellite-offset-x: -573px;
$s-satellite-offset-y: -106px;
$s-satellite-width: 105px;
$s-satellite-height: 104px;
$s-satellite-total-width: 690px;
$s-satellite-total-height: 622px;
$s-satellite-image: 'images/sprite.png';
$s-satellite: (573px, 106px, -573px, -106px, 105px, 104px, 690px, 622px, 'images/sprite.png', 's-satellite', );
$s-server-name: 's-server';
$s-server-x: 440px;
$s-server-y: 228px;
$s-server-offset-x: -440px;
$s-server-offset-y: -228px;
$s-server-width: 130px;
$s-server-height: 108px;
$s-server-total-width: 690px;
$s-server-total-height: 622px;
$s-server-image: 'images/sprite.png';
$s-server: (440px, 228px, -440px, -228px, 130px, 108px, 690px, 622px, 'images/sprite.png', 's-server', );
$spritesheet-width: 690px;
$spritesheet-height: 622px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($s-aerial, $s-arrow-active, $s-arrow-circle-active, $s-arrow-circle-hover, $s-arrow-circle, $s-arrow-down, $s-arrow-hover, $s-arrow-right-circle, $s-arrow-right-long, $s-arrow, $s-case-a, $s-case-b, $s-case-c, $s-case-d, $s-close-active, $s-close-default, $s-close-hover, $s-close-icon-active, $s-close-icon-hover, $s-close-icon, $s-computer, $s-footer-logo, $s-laptop, $s-logo, $s-menu-active, $s-menu-default, $s-menu-hover, $s-menu-light-active, $s-menu-light-default, $s-menu-light-hover, $s-monitor, $s-pdf, $s-print, $s-satellite-dish, $s-satellite, $s-server, );
$spritesheet: (690px, 622px, 'images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
