/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-aerial-name: 's-aerial';
$s-aerial-x: 265px;
$s-aerial-y: 0px;
$s-aerial-offset-x: -265px;
$s-aerial-offset-y: 0px;
$s-aerial-width: 104px;
$s-aerial-height: 131px;
$s-aerial-total-width: 474px;
$s-aerial-total-height: 312px;
$s-aerial-image: 'images/sprite.png';
$s-aerial: (265px, 0px, -265px, 0px, 104px, 131px, 474px, 312px, 'images/sprite.png', 's-aerial', );
$s-arrow-down-name: 's-arrow-down';
$s-arrow-down-x: 442px;
$s-arrow-down-y: 208px;
$s-arrow-down-offset-x: -442px;
$s-arrow-down-offset-y: -208px;
$s-arrow-down-width: 23px;
$s-arrow-down-height: 15px;
$s-arrow-down-total-width: 474px;
$s-arrow-down-total-height: 312px;
$s-arrow-down-image: 'images/sprite.png';
$s-arrow-down: (442px, 208px, -442px, -208px, 23px, 15px, 474px, 312px, 'images/sprite.png', 's-arrow-down', );
$s-arrow-name: 's-arrow';
$s-arrow-x: 314px;
$s-arrow-y: 131px;
$s-arrow-offset-x: -314px;
$s-arrow-offset-y: -131px;
$s-arrow-width: 47px;
$s-arrow-height: 47px;
$s-arrow-total-width: 474px;
$s-arrow-total-height: 312px;
$s-arrow-image: 'images/sprite.png';
$s-arrow: (314px, 131px, -314px, -131px, 47px, 47px, 474px, 312px, 'images/sprite.png', 's-arrow', );
$s-close-icon-active-name: 's-close-icon-active';
$s-close-icon-active-x: 265px;
$s-close-icon-active-y: 131px;
$s-close-icon-active-offset-x: -265px;
$s-close-icon-active-offset-y: -131px;
$s-close-icon-active-width: 49px;
$s-close-icon-active-height: 49px;
$s-close-icon-active-total-width: 474px;
$s-close-icon-active-total-height: 312px;
$s-close-icon-active-image: 'images/sprite.png';
$s-close-icon-active: (265px, 131px, -265px, -131px, 49px, 49px, 474px, 312px, 'images/sprite.png', 's-close-icon-active', );
$s-close-icon-hover-name: 's-close-icon-hover';
$s-close-icon-hover-x: 369px;
$s-close-icon-hover-y: 255px;
$s-close-icon-hover-offset-x: -369px;
$s-close-icon-hover-offset-y: -255px;
$s-close-icon-hover-width: 49px;
$s-close-icon-hover-height: 49px;
$s-close-icon-hover-total-width: 474px;
$s-close-icon-hover-total-height: 312px;
$s-close-icon-hover-image: 'images/sprite.png';
$s-close-icon-hover: (369px, 255px, -369px, -255px, 49px, 49px, 474px, 312px, 'images/sprite.png', 's-close-icon-hover', );
$s-close-icon-name: 's-close-icon';
$s-close-icon-x: 418px;
$s-close-icon-y: 255px;
$s-close-icon-offset-x: -418px;
$s-close-icon-offset-y: -255px;
$s-close-icon-width: 49px;
$s-close-icon-height: 49px;
$s-close-icon-total-width: 474px;
$s-close-icon-total-height: 312px;
$s-close-icon-image: 'images/sprite.png';
$s-close-icon: (418px, 255px, -418px, -255px, 49px, 49px, 474px, 312px, 'images/sprite.png', 's-close-icon', );
$s-computer-name: 's-computer';
$s-computer-x: 0px;
$s-computer-y: 0px;
$s-computer-offset-x: 0px;
$s-computer-offset-y: 0px;
$s-computer-width: 133px;
$s-computer-height: 114px;
$s-computer-total-width: 474px;
$s-computer-total-height: 312px;
$s-computer-image: 'images/sprite.png';
$s-computer: (0px, 0px, 0px, 0px, 133px, 114px, 474px, 312px, 'images/sprite.png', 's-computer', );
$s-laptop-name: 's-laptop';
$s-laptop-x: 0px;
$s-laptop-y: 222px;
$s-laptop-offset-x: 0px;
$s-laptop-offset-y: -222px;
$s-laptop-width: 141px;
$s-laptop-height: 90px;
$s-laptop-total-width: 474px;
$s-laptop-total-height: 312px;
$s-laptop-image: 'images/sprite.png';
$s-laptop: (0px, 222px, 0px, -222px, 141px, 90px, 474px, 312px, 'images/sprite.png', 's-laptop', );
$s-logo-name: 's-logo';
$s-logo-x: 130px;
$s-logo-y: 114px;
$s-logo-offset-x: -130px;
$s-logo-offset-y: -114px;
$s-logo-width: 117px;
$s-logo-height: 106px;
$s-logo-total-width: 474px;
$s-logo-total-height: 312px;
$s-logo-image: 'images/sprite.png';
$s-logo: (130px, 114px, -130px, -114px, 117px, 106px, 474px, 312px, 'images/sprite.png', 's-logo', );
$s-menu-icon-name: 's-menu-icon';
$s-menu-icon-x: 369px;
$s-menu-icon-y: 208px;
$s-menu-icon-offset-x: -369px;
$s-menu-icon-offset-y: -208px;
$s-menu-icon-width: 73px;
$s-menu-icon-height: 47px;
$s-menu-icon-total-width: 474px;
$s-menu-icon-total-height: 312px;
$s-menu-icon-image: 'images/sprite.png';
$s-menu-icon: (369px, 208px, -369px, -208px, 73px, 47px, 474px, 312px, 'images/sprite.png', 's-menu-icon', );
$s-monitor-name: 's-monitor';
$s-monitor-x: 133px;
$s-monitor-y: 0px;
$s-monitor-offset-x: -133px;
$s-monitor-offset-y: 0px;
$s-monitor-width: 132px;
$s-monitor-height: 114px;
$s-monitor-total-width: 474px;
$s-monitor-total-height: 312px;
$s-monitor-image: 'images/sprite.png';
$s-monitor: (133px, 0px, -133px, 0px, 132px, 114px, 474px, 312px, 'images/sprite.png', 's-monitor', );
$s-satellite-dish-name: 's-satellite-dish';
$s-satellite-dish-x: 369px;
$s-satellite-dish-y: 104px;
$s-satellite-dish-offset-x: -369px;
$s-satellite-dish-offset-y: -104px;
$s-satellite-dish-width: 104px;
$s-satellite-dish-height: 104px;
$s-satellite-dish-total-width: 474px;
$s-satellite-dish-total-height: 312px;
$s-satellite-dish-image: 'images/sprite.png';
$s-satellite-dish: (369px, 104px, -369px, -104px, 104px, 104px, 474px, 312px, 'images/sprite.png', 's-satellite-dish', );
$s-satellite-name: 's-satellite';
$s-satellite-x: 369px;
$s-satellite-y: 0px;
$s-satellite-offset-x: -369px;
$s-satellite-offset-y: 0px;
$s-satellite-width: 105px;
$s-satellite-height: 104px;
$s-satellite-total-width: 474px;
$s-satellite-total-height: 312px;
$s-satellite-image: 'images/sprite.png';
$s-satellite: (369px, 0px, -369px, 0px, 105px, 104px, 474px, 312px, 'images/sprite.png', 's-satellite', );
$s-server-name: 's-server';
$s-server-x: 0px;
$s-server-y: 114px;
$s-server-offset-x: 0px;
$s-server-offset-y: -114px;
$s-server-width: 130px;
$s-server-height: 108px;
$s-server-total-width: 474px;
$s-server-total-height: 312px;
$s-server-image: 'images/sprite.png';
$s-server: (0px, 114px, 0px, -114px, 130px, 108px, 474px, 312px, 'images/sprite.png', 's-server', );
$spritesheet-width: 474px;
$spritesheet-height: 312px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($s-aerial, $s-arrow-down, $s-arrow, $s-close-icon-active, $s-close-icon-hover, $s-close-icon, $s-computer, $s-laptop, $s-logo, $s-menu-icon, $s-monitor, $s-satellite-dish, $s-satellite, $s-server, );
$spritesheet: (474px, 312px, 'images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
