/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-aerial-name: 's-aerial';
$s-aerial-x: 265px;
$s-aerial-y: 0px;
$s-aerial-offset-x: -265px;
$s-aerial-offset-y: 0px;
$s-aerial-width: 104px;
$s-aerial-height: 131px;
$s-aerial-total-width: 474px;
$s-aerial-total-height: 409px;
$s-aerial-image: 'images/sprite.png';
$s-aerial: (265px, 0px, -265px, 0px, 104px, 131px, 474px, 409px, 'images/sprite.png', 's-aerial', );
$s-arrow-active-name: 's-arrow-active';
$s-arrow-active-x: 283px;
$s-arrow-active-y: 222px;
$s-arrow-active-offset-x: -283px;
$s-arrow-active-offset-y: -222px;
$s-arrow-active-width: 44px;
$s-arrow-active-height: 44px;
$s-arrow-active-total-width: 474px;
$s-arrow-active-total-height: 409px;
$s-arrow-active-image: 'images/sprite.png';
$s-arrow-active: (283px, 222px, -283px, -222px, 44px, 44px, 474px, 409px, 'images/sprite.png', 's-arrow-active', );
$s-arrow-circle-active-name: 's-arrow-circle-active';
$s-arrow-circle-active-x: 229px;
$s-arrow-circle-active-y: 267px;
$s-arrow-circle-active-offset-x: -229px;
$s-arrow-circle-active-offset-y: -267px;
$s-arrow-circle-active-width: 44px;
$s-arrow-circle-active-height: 44px;
$s-arrow-circle-active-total-width: 474px;
$s-arrow-circle-active-total-height: 409px;
$s-arrow-circle-active-image: 'images/sprite.png';
$s-arrow-circle-active: (229px, 267px, -229px, -267px, 44px, 44px, 474px, 409px, 'images/sprite.png', 's-arrow-circle-active', );
$s-arrow-circle-hover-name: 's-arrow-circle-hover';
$s-arrow-circle-hover-x: 141px;
$s-arrow-circle-hover-y: 267px;
$s-arrow-circle-hover-offset-x: -141px;
$s-arrow-circle-hover-offset-y: -267px;
$s-arrow-circle-hover-width: 44px;
$s-arrow-circle-hover-height: 44px;
$s-arrow-circle-hover-total-width: 474px;
$s-arrow-circle-hover-total-height: 409px;
$s-arrow-circle-hover-image: 'images/sprite.png';
$s-arrow-circle-hover: (141px, 267px, -141px, -267px, 44px, 44px, 474px, 409px, 'images/sprite.png', 's-arrow-circle-hover', );
$s-arrow-circle-name: 's-arrow-circle';
$s-arrow-circle-x: 185px;
$s-arrow-circle-y: 267px;
$s-arrow-circle-offset-x: -185px;
$s-arrow-circle-offset-y: -267px;
$s-arrow-circle-width: 44px;
$s-arrow-circle-height: 44px;
$s-arrow-circle-total-width: 474px;
$s-arrow-circle-total-height: 409px;
$s-arrow-circle-image: 'images/sprite.png';
$s-arrow-circle: (185px, 267px, -185px, -267px, 44px, 44px, 474px, 409px, 'images/sprite.png', 's-arrow-circle', );
$s-arrow-down-name: 's-arrow-down';
$s-arrow-down-x: 440px;
$s-arrow-down-y: 240px;
$s-arrow-down-offset-x: -440px;
$s-arrow-down-offset-y: -240px;
$s-arrow-down-width: 22px;
$s-arrow-down-height: 12px;
$s-arrow-down-total-width: 474px;
$s-arrow-down-total-height: 409px;
$s-arrow-down-image: 'images/sprite.png';
$s-arrow-down: (440px, 240px, -440px, -240px, 22px, 12px, 474px, 409px, 'images/sprite.png', 's-arrow-down', );
$s-arrow-hover-name: 's-arrow-hover';
$s-arrow-hover-x: 273px;
$s-arrow-hover-y: 267px;
$s-arrow-hover-offset-x: -273px;
$s-arrow-hover-offset-y: -267px;
$s-arrow-hover-width: 44px;
$s-arrow-hover-height: 44px;
$s-arrow-hover-total-width: 474px;
$s-arrow-hover-total-height: 409px;
$s-arrow-hover-image: 'images/sprite.png';
$s-arrow-hover: (273px, 267px, -273px, -267px, 44px, 44px, 474px, 409px, 'images/sprite.png', 's-arrow-hover', );
$s-arrow-right-name: 's-arrow-right';
$s-arrow-right-x: 440px;
$s-arrow-right-y: 208px;
$s-arrow-right-offset-x: -440px;
$s-arrow-right-offset-y: -208px;
$s-arrow-right-width: 32px;
$s-arrow-right-height: 32px;
$s-arrow-right-total-width: 474px;
$s-arrow-right-total-height: 409px;
$s-arrow-right-image: 'images/sprite.png';
$s-arrow-right: (440px, 208px, -440px, -208px, 32px, 32px, 474px, 409px, 'images/sprite.png', 's-arrow-right', );
$s-arrow-name: 's-arrow';
$s-arrow-x: 205px;
$s-arrow-y: 312px;
$s-arrow-offset-x: -205px;
$s-arrow-offset-y: -312px;
$s-arrow-width: 47px;
$s-arrow-height: 47px;
$s-arrow-total-width: 474px;
$s-arrow-total-height: 409px;
$s-arrow-image: 'images/sprite.png';
$s-arrow: (205px, 312px, -205px, -312px, 47px, 47px, 474px, 409px, 'images/sprite.png', 's-arrow', );
$s-close-active-name: 's-close-active';
$s-close-active-x: 61px;
$s-close-active-y: 312px;
$s-close-active-offset-x: -61px;
$s-close-active-offset-y: -312px;
$s-close-active-width: 48px;
$s-close-active-height: 48px;
$s-close-active-total-width: 474px;
$s-close-active-total-height: 409px;
$s-close-active-image: 'images/sprite.png';
$s-close-active: (61px, 312px, -61px, -312px, 48px, 48px, 474px, 409px, 'images/sprite.png', 's-close-active', );
$s-close-default-name: 's-close-default';
$s-close-default-x: 157px;
$s-close-default-y: 312px;
$s-close-default-offset-x: -157px;
$s-close-default-offset-y: -312px;
$s-close-default-width: 48px;
$s-close-default-height: 48px;
$s-close-default-total-width: 474px;
$s-close-default-total-height: 409px;
$s-close-default-image: 'images/sprite.png';
$s-close-default: (157px, 312px, -157px, -312px, 48px, 48px, 474px, 409px, 'images/sprite.png', 's-close-default', );
$s-close-hover-name: 's-close-hover';
$s-close-hover-x: 109px;
$s-close-hover-y: 312px;
$s-close-hover-offset-x: -109px;
$s-close-hover-offset-y: -312px;
$s-close-hover-width: 48px;
$s-close-hover-height: 48px;
$s-close-hover-total-width: 474px;
$s-close-hover-total-height: 409px;
$s-close-hover-image: 'images/sprite.png';
$s-close-hover: (109px, 312px, -109px, -312px, 48px, 48px, 474px, 409px, 'images/sprite.png', 's-close-hover', );
$s-close-icon-active-name: 's-close-icon-active';
$s-close-icon-active-x: 0px;
$s-close-icon-active-y: 360px;
$s-close-icon-active-offset-x: 0px;
$s-close-icon-active-offset-y: -360px;
$s-close-icon-active-width: 49px;
$s-close-icon-active-height: 49px;
$s-close-icon-active-total-width: 474px;
$s-close-icon-active-total-height: 409px;
$s-close-icon-active-image: 'images/sprite.png';
$s-close-icon-active: (0px, 360px, 0px, -360px, 49px, 49px, 474px, 409px, 'images/sprite.png', 's-close-icon-active', );
$s-close-icon-hover-name: 's-close-icon-hover';
$s-close-icon-hover-x: 49px;
$s-close-icon-hover-y: 360px;
$s-close-icon-hover-offset-x: -49px;
$s-close-icon-hover-offset-y: -360px;
$s-close-icon-hover-width: 49px;
$s-close-icon-hover-height: 49px;
$s-close-icon-hover-total-width: 474px;
$s-close-icon-hover-total-height: 409px;
$s-close-icon-hover-image: 'images/sprite.png';
$s-close-icon-hover: (49px, 360px, -49px, -360px, 49px, 49px, 474px, 409px, 'images/sprite.png', 's-close-icon-hover', );
$s-close-icon-name: 's-close-icon';
$s-close-icon-x: 98px;
$s-close-icon-y: 360px;
$s-close-icon-offset-x: -98px;
$s-close-icon-offset-y: -360px;
$s-close-icon-width: 49px;
$s-close-icon-height: 49px;
$s-close-icon-total-width: 474px;
$s-close-icon-total-height: 409px;
$s-close-icon-image: 'images/sprite.png';
$s-close-icon: (98px, 360px, -98px, -360px, 49px, 49px, 474px, 409px, 'images/sprite.png', 's-close-icon', );
$s-computer-name: 's-computer';
$s-computer-x: 0px;
$s-computer-y: 0px;
$s-computer-offset-x: 0px;
$s-computer-offset-y: 0px;
$s-computer-width: 133px;
$s-computer-height: 114px;
$s-computer-total-width: 474px;
$s-computer-total-height: 409px;
$s-computer-image: 'images/sprite.png';
$s-computer: (0px, 0px, 0px, 0px, 133px, 114px, 474px, 409px, 'images/sprite.png', 's-computer', );
$s-footer-logo-name: 's-footer-logo';
$s-footer-logo-x: 0px;
$s-footer-logo-y: 312px;
$s-footer-logo-offset-x: 0px;
$s-footer-logo-offset-y: -312px;
$s-footer-logo-width: 61px;
$s-footer-logo-height: 48px;
$s-footer-logo-total-width: 474px;
$s-footer-logo-total-height: 409px;
$s-footer-logo-image: 'images/sprite.png';
$s-footer-logo: (0px, 312px, 0px, -312px, 61px, 48px, 474px, 409px, 'images/sprite.png', 's-footer-logo', );
$s-laptop-name: 's-laptop';
$s-laptop-x: 0px;
$s-laptop-y: 222px;
$s-laptop-offset-x: 0px;
$s-laptop-offset-y: -222px;
$s-laptop-width: 141px;
$s-laptop-height: 90px;
$s-laptop-total-width: 474px;
$s-laptop-total-height: 409px;
$s-laptop-image: 'images/sprite.png';
$s-laptop: (0px, 222px, 0px, -222px, 141px, 90px, 474px, 409px, 'images/sprite.png', 's-laptop', );
$s-logo-name: 's-logo';
$s-logo-x: 130px;
$s-logo-y: 114px;
$s-logo-offset-x: -130px;
$s-logo-offset-y: -114px;
$s-logo-width: 117px;
$s-logo-height: 106px;
$s-logo-total-width: 474px;
$s-logo-total-height: 409px;
$s-logo-image: 'images/sprite.png';
$s-logo: (130px, 114px, -130px, -114px, 117px, 106px, 474px, 409px, 'images/sprite.png', 's-logo', );
$s-menu-active-name: 's-menu-active';
$s-menu-active-x: 141px;
$s-menu-active-y: 222px;
$s-menu-active-offset-x: -141px;
$s-menu-active-offset-y: -222px;
$s-menu-active-width: 71px;
$s-menu-active-height: 45px;
$s-menu-active-total-width: 474px;
$s-menu-active-total-height: 409px;
$s-menu-active-image: 'images/sprite.png';
$s-menu-active: (141px, 222px, -141px, -222px, 71px, 45px, 474px, 409px, 'images/sprite.png', 's-menu-active', );
$s-menu-default-name: 's-menu-default';
$s-menu-default-x: 265px;
$s-menu-default-y: 176px;
$s-menu-default-offset-x: -265px;
$s-menu-default-offset-y: -176px;
$s-menu-default-width: 71px;
$s-menu-default-height: 45px;
$s-menu-default-total-width: 474px;
$s-menu-default-total-height: 409px;
$s-menu-default-image: 'images/sprite.png';
$s-menu-default: (265px, 176px, -265px, -176px, 71px, 45px, 474px, 409px, 'images/sprite.png', 's-menu-default', );
$s-menu-hover-name: 's-menu-hover';
$s-menu-hover-x: 265px;
$s-menu-hover-y: 131px;
$s-menu-hover-offset-x: -265px;
$s-menu-hover-offset-y: -131px;
$s-menu-hover-width: 71px;
$s-menu-hover-height: 45px;
$s-menu-hover-total-width: 474px;
$s-menu-hover-total-height: 409px;
$s-menu-hover-image: 'images/sprite.png';
$s-menu-hover: (265px, 131px, -265px, -131px, 71px, 45px, 474px, 409px, 'images/sprite.png', 's-menu-hover', );
$s-menu-light-active-name: 's-menu-light-active';
$s-menu-light-active-x: 369px;
$s-menu-light-active-y: 253px;
$s-menu-light-active-offset-x: -369px;
$s-menu-light-active-offset-y: -253px;
$s-menu-light-active-width: 71px;
$s-menu-light-active-height: 45px;
$s-menu-light-active-total-width: 474px;
$s-menu-light-active-total-height: 409px;
$s-menu-light-active-image: 'images/sprite.png';
$s-menu-light-active: (369px, 253px, -369px, -253px, 71px, 45px, 474px, 409px, 'images/sprite.png', 's-menu-light-active', );
$s-menu-light-default-name: 's-menu-light-default';
$s-menu-light-default-x: 369px;
$s-menu-light-default-y: 208px;
$s-menu-light-default-offset-x: -369px;
$s-menu-light-default-offset-y: -208px;
$s-menu-light-default-width: 71px;
$s-menu-light-default-height: 45px;
$s-menu-light-default-total-width: 474px;
$s-menu-light-default-total-height: 409px;
$s-menu-light-default-image: 'images/sprite.png';
$s-menu-light-default: (369px, 208px, -369px, -208px, 71px, 45px, 474px, 409px, 'images/sprite.png', 's-menu-light-default', );
$s-menu-light-hover-name: 's-menu-light-hover';
$s-menu-light-hover-x: 212px;
$s-menu-light-hover-y: 222px;
$s-menu-light-hover-offset-x: -212px;
$s-menu-light-hover-offset-y: -222px;
$s-menu-light-hover-width: 71px;
$s-menu-light-hover-height: 45px;
$s-menu-light-hover-total-width: 474px;
$s-menu-light-hover-total-height: 409px;
$s-menu-light-hover-image: 'images/sprite.png';
$s-menu-light-hover: (212px, 222px, -212px, -222px, 71px, 45px, 474px, 409px, 'images/sprite.png', 's-menu-light-hover', );
$s-monitor-name: 's-monitor';
$s-monitor-x: 133px;
$s-monitor-y: 0px;
$s-monitor-offset-x: -133px;
$s-monitor-offset-y: 0px;
$s-monitor-width: 132px;
$s-monitor-height: 114px;
$s-monitor-total-width: 474px;
$s-monitor-total-height: 409px;
$s-monitor-image: 'images/sprite.png';
$s-monitor: (133px, 0px, -133px, 0px, 132px, 114px, 474px, 409px, 'images/sprite.png', 's-monitor', );
$s-satellite-dish-name: 's-satellite-dish';
$s-satellite-dish-x: 369px;
$s-satellite-dish-y: 104px;
$s-satellite-dish-offset-x: -369px;
$s-satellite-dish-offset-y: -104px;
$s-satellite-dish-width: 104px;
$s-satellite-dish-height: 104px;
$s-satellite-dish-total-width: 474px;
$s-satellite-dish-total-height: 409px;
$s-satellite-dish-image: 'images/sprite.png';
$s-satellite-dish: (369px, 104px, -369px, -104px, 104px, 104px, 474px, 409px, 'images/sprite.png', 's-satellite-dish', );
$s-satellite-name: 's-satellite';
$s-satellite-x: 369px;
$s-satellite-y: 0px;
$s-satellite-offset-x: -369px;
$s-satellite-offset-y: 0px;
$s-satellite-width: 105px;
$s-satellite-height: 104px;
$s-satellite-total-width: 474px;
$s-satellite-total-height: 409px;
$s-satellite-image: 'images/sprite.png';
$s-satellite: (369px, 0px, -369px, 0px, 105px, 104px, 474px, 409px, 'images/sprite.png', 's-satellite', );
$s-server-name: 's-server';
$s-server-x: 0px;
$s-server-y: 114px;
$s-server-offset-x: 0px;
$s-server-offset-y: -114px;
$s-server-width: 130px;
$s-server-height: 108px;
$s-server-total-width: 474px;
$s-server-total-height: 409px;
$s-server-image: 'images/sprite.png';
$s-server: (0px, 114px, 0px, -114px, 130px, 108px, 474px, 409px, 'images/sprite.png', 's-server', );
$spritesheet-width: 474px;
$spritesheet-height: 409px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($s-aerial, $s-arrow-active, $s-arrow-circle-active, $s-arrow-circle-hover, $s-arrow-circle, $s-arrow-down, $s-arrow-hover, $s-arrow-right, $s-arrow, $s-close-active, $s-close-default, $s-close-hover, $s-close-icon-active, $s-close-icon-hover, $s-close-icon, $s-computer, $s-footer-logo, $s-laptop, $s-logo, $s-menu-active, $s-menu-default, $s-menu-hover, $s-menu-light-active, $s-menu-light-default, $s-menu-light-hover, $s-monitor, $s-satellite-dish, $s-satellite, $s-server, );
$spritesheet: (474px, 409px, 'images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
