.gui {
  text-align: center;

  background: $light-gray;
  background-attachment: scroll;
  &-bg {
    width: 100%;
    height: 494px;

    background: url('images/gui-bg.jpg');
    background-position: 50% 50%;
    background-size: cover;

    @include abs(0, 0, 0, 0);
  }
  &-content {
    .gui-title {
      position: relative;

      color: $white;
    }
    img {
      position: relative;
    }
  }
  &-elements {
    background: $light-gray;
  }
}

.center-block {
  width: 370px;
}

.small-caption {
  font-size: $small-size - 2;

  margin: 20px 0 10px;

  text-align: center;
  text-transform: uppercase;
}

.large-caption {
  font-size: 32px;
  line-height: 32px;

  margin: 78px 0 50px;

  text-align: center;
  text-transform: uppercase;
}

// PRODUCTS CARDS
.products-card {
  width: 100;
  min-height: 400px;

  color: $white;
  .products-content {
    font-weight: bold;

    padding: 35px 0 15px;

    text-align: center;
    text-transform: uppercase;
  }
  .product-img {
    width: 100%;
    height: 180px;
  }
  .products-caption, .products-info {
    font-weight: normal;

    padding: 5px 20px;

    text-align: center;
    text-transform: none;
  }
  .btn.btn-normal {
    transition: all 1.2s;

    opacity: 0;
  }
  &-first, &-second, &-third {
    transition: all .8s;
    &:hover {
      cursor: pointer;

      background: $white;
      .products-caption {
        color: $base-blue;
      }
      .products-info {
        color: $green-gray;
      }
      .btn.btn-normal {
        opacity: 1;
      }
    }
  }
  &-first {
    background: $green-gray;
    .product-img {
      background: url('images/enterprise-suite.png') no-repeat;
      background-position: 50% 50%;
    }
    &:hover {
      .product-img {
        background: url('images/enterprise-suite-hover.png') no-repeat;
        background-position: 54% 50%;
      }
    }
  }
  &-second {
    background: $base-blue;
    .product-img {
      background: url('images/oberon-product.png') no-repeat;
      background-position: 50% 50%;
    }
    &:hover {
      .product-img {
        background: url('images/oberon-product-hover.png') no-repeat;
        background-position: 56% 50%;
      }
    }
  }
  &-third {
    background: $light-blue;
    .product-img {
      background: url('images/tp-secure.png') no-repeat;
      background-position: 50% 50%;
    }
    &:hover {
      .product-img {
        background: url('images/tp-secure-hover.png') no-repeat;
        background-position: 56% 50%;
      }
    }
  }
}

// DROPDOWNS
.selectors {
  min-height: 250px;
}

.dropdown.dropdown-default {
  .btn {
    font-size: $small-size;

    position: relative;

    width: 370px;
    margin-bottom: 0;
    padding: 15px;

    text-align: left;
    text-transform: none;

    color: $green-gray;
    border: 1px solid $base-blue;
    border-radius: 3px;
    background: $white;
    .arrow-down {
      position: absolute;
      top: 15px;
      right: 15px;

      transition: all .8s;

      @include sprite($s-arrow-down);
    }
  }
  .btn[aria-expanded='true'] {
    .arrow-down {
      transform: rotate(180deg);
    }
  }
  &:hover {
    .btn {
      color: $base-blue;
    }
  }
  .dropdown-menu {
    width: 370px;
    margin: 5px 0;
    padding: 0;
  }
  .dropdown-menu > li > a {
    font-size: $small-size;

    padding: 15px;

    color: $green-gray;
    &:hover {
      color: $white;
      background: $base-blue;
    }
  }
}

.dropdown.dropdown-rounded {
  .btn {
    position: relative;

    width: 370px;
    margin-bottom: 0;
    padding: 10px 20px;

    text-align: left;

    color: $white;
    border: $base-border $white;
    border-radius: $btn-border-radius;
    background: $light-gray;
    .fa-chevron-down {
      position: absolute;
      top: 13px;
      right: 15px;

      transition: transform .8s;
    }
    &:active {
      outline: none;
    }
    &:hover {
      color: $base-blue;
      background: $white;
    }
  }
  .btn[aria-expanded='true'] {
    .fa-chevron-down {
      transform: rotate(180deg);
    }
  }
  .dropdown-menu {
    width: 370px;
    margin: 5px 0;
    padding: 0;

    border: $base-border $white;
    border-radius: $btn-border-radius;
    background: $light-gray;
    box-shadow: none;
  }
  .dropdown-menu > li > a {
    font-size: $small-size;

    padding: 15px;

    text-transform: uppercase;

    color: $white;
    &:hover {
      color: $base-blue;
      background: $white;
    }
  }
  .dropdown-menu > li:first-child > a {
    &:hover {
      border-top-left-radius: $btn-border-radius;
      border-top-right-radius: $btn-border-radius;
    }
  }
  .dropdown-menu > li:last-child > a {
    &:hover {
      border-bottom-right-radius: $btn-border-radius;
      border-bottom-left-radius: $btn-border-radius;
    }
  }
}

.circular-block {
  box-sizing: border-box;
  width: 310px;
  height: 310px;
  padding: 4px;

  border: 4px solid $light-gray;
  border-radius: 50%;
  .cnt {
    display: flex;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    text-align: center;

    border: 1px solid $light-gray;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
  }
  .holder {
    width: 80%;
  }
  .title {
    font-size: 18px;
    font-weight: bold;

    color: $base-blue;
  }
}

.table-container {
  overflow: auto;

  margin-right: -15px;
  margin-left: -15px;
  @media only screen and (min-width: 1216px) {
    margin-right: -30px;
    margin-left: -30px;
  }
}

table.tbl {
  width: 100%;

  border-spacing: 15px 0;
  //margin-left: -15px;
  //margin-right: -15px;
  border-collapse: separate;
  @media #{$screen-small} {
    border-spacing: 30px 0 !important;
    //margin-left: -15px;
    //width: calc(100% + 15px);
  }
  &.cells-top td {
    vertical-align: top;
  }
  ol {
    margin-left: 30px;
    li {
      margin: 0;
    }
  }
  thead {
    td {
      font-size: 16px;

      padding: 15px;

      text-align: center;

      color: $white;
      background: $base-gray;
    }
  }
  tbody {
    font-size: 16px;
    th,td {
      line-height: 2em;

      padding: 10px 0;

      text-align: center;
    }
    th {
      font-weight: bold;

      padding: 20px 0 0;

      text-align: left;

      color: $base-blue;
      border: none;
    }
    tr.hidden {
      display: none;
    }
    tr:not(:last-child):not(.naked) td {
      border-bottom: 1px solid $light-gray;
    }
    td.left {
      text-align: left;
    }
    tr.highlighted {
      position: relative;

      background: #f2f3f4;
      th,td {
        position: relative;
        z-index: 5;

        border-bottom: 1px solid $white;
        background: #f2f3f4;
        &:before {
          position: absolute;
          z-index: -1;
          top: 0;
          left: -15px;

          box-sizing: content-box;
          width: 100%;
          height: 100%;
          padding: 0 15px 1px 15px;

          content: '';

          background: #f2f3f4;
          @media #{$screen-small} {
            left: -30px;

            padding: 0 30px 1px 30px;
          }
        }
      }
      td:after {
        position: absolute;
        bottom: -1px;
        left: 0;

        width: 100%;

        content: '';

        border-bottom: 1px solid $white;
      }
    }
  }
}
ol.o-list {
  display: flex;

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: ol;

  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;

  li {
    padding: 0;
    counter-increment: ol;
    display: flex;
    align-items: center;
    color: $base-gray;
    position: relative;
    margin: 15px 0;
    &:before {
      content: counter(ol, decimal-leading-zero);
      margin-right: 1em;
      color: $light-gray;
      font-size: 1.2em;
    }
  }
}

.distributor-block {

  margin-bottom: 50px;

  header {
    @media #{$tablet-small} {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .map-trigger {
      width: 238px;
      height: 39px;
      background: url('images/map-button.png');
      border: none;
      text-transform: uppercase;
      text-align: left;
      padding-left: 25px;
      padding-top: 5px;
      margin-bottom: 20px;
      outline: none;
      @media #{$tablet-small} {
        margin-bottom: 0;
      }
      .hide-map {
        display: none;
      }
    }

  }

  .city {
    font-size: 22px;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 20px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 170px;
      height: 2px;
      left: 0;
      bottom: 0;
      background: $base-gray;
    }
  }

  .location {
    @media #{$tablet-large} {
      display: flex;
      justify-content: flex-start;
    }
    .str {
      display: block;
      width: 100%;
      @media #{$tablet-large} {
        width: 50%;
      }

    }
    .email {
      margin: 0 0 0 auto;
    }
  }
  .map {
    width: 100%;
    height: 0;
    transition: height 0.3s;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &.expand {
    .map {
      height: 260px;
    }
    .map-trigger {
      .hide-map {
        display: inline;
      }
      .show-map {
        display: none;
      }
    }
  }

}

.news-item {
  font-size: 16px;
  margin-bottom: 50px;
  @media #{$tablet-small} {
    display: flex;
  }
  .media {
    width: 100%;
    @media #{$tablet-small} {
      width: 32%;
    }
    flex-shrink: 0;
    img {
      width: 100%;
    }
  }
  .txt {
    padding-top: 30px;
    @media #{$tablet-small} {
      padding-top: 0;
      padding-left: 30px;
    }
  }
  h1 {
    font-size: 1em;
    padding-bottom: 20px;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    color: $base-blue;
    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 170px;
      height: 2px;
      left: 0;
      bottom: 0;
      background: $base-gray;
    }
    a {
      color: inherit;
    }
  }
  .meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.875em;
    .category {
      border-bottom: 1px dashed;
      &:hover {
        border-color: transparent;
      }
    }
  }
  &.primary {
    h1 {
      font-size: 1.375em;
    }
    .meta {
      margin-bottom: 20px;
    }
  }
}