.appliance {
  margin-top: $margin-huge + 30;
  .appliance-caption {
    font-size: 34px;
    line-height: 38px;

    margin-top: $margin-huge;

    text-align: center;
    text-transform: uppercase;
  }
  .appliance-list {
    margin-top: $margin-huge;
    margin-bottom: $margin-default;
    p {
      text-align: center;
    }
  }
  .appliance-image {
    max-width: 220px;
    margin: auto;
    margin-top: $margin-default;
    margin-bottom: $margin-default;
    img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .appliance {
    margin-top: 20px;
    .appliance-caption {
      font-size: 24px;
      line-height: 28px;
    }
  }
}
