.btn-normal {
  font-size: $small-size;

  margin: 10px 0;
  padding: 5px 25px;

  text-transform: uppercase;

  color: $base-gray;
  border: $base-border $base-gray;
  border-radius: $btn-border-radius;
  &:hover {
    color: $base-blue;
    border-color: $base-blue;
  }
  &:active,&:focus {
    text-decoration: none;

    color: $white;
    border-color: $base-blue;
    outline: none;
    background: $base-blue;
  }
}
